table {
    border: 1px solid white;
    /* width: 1000px; */
}

th, td {
    align-content: center;
}

a {
    font-size: 15px;
    font-weight: bold;
}

ol li {
    /* list-style: decimal-leading-zero; */
    font-size:20px;
}

li span {
    font-size:15px;
}